@{
    Layout = "_Layout";
}

@model SweetsTreats.Models.Flavor

<h2>Enter a new flavor category</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Show all flavors", "Index")